<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel = "icon" href = "favicon.png" type = "image/x-icon">
        <title>Recommender System</title>
		<link rel='stylesheet' type="text/css" href="/static/style.css"/>
		<link rel='stylesheet' type="text/css" href="style.css"/>
        <style>
            input[type=button],
            input[type=submit] {
              background-color: #009879;
              border: none;
              color: #fff;
              padding: 5px 10px;
              text-decoration: none;
              cursor: pointer;
            }
			  
			label {
				width : 400px;
				display: inline-block;
			}
          </style>
    </head>
    <body>
        <div class="heading">
            <h1>Sentiment Based Product Recommendation System</h1>
        </div>
        <div  class="form" >
            <form method="POST">
                <p><label>User Name: </label>
                <input type="text" id="uname" name="uname"><br>
				Below are some sample usernames for you to type<br>
				
				  joshua<br>
				  barbiedoll<br>
				  adam<br>
				  mouse<br>
				  scarlett<br>
				
				You can see full user_name list <a href="https://github.com/loksundar/Reco_systsem/blob/main/User_names.csv">here</a><br> 
				
				If you want to know your predictions click <a href="{{ url_for('index2') }}">here </a><br><br>
				<input class=".button-submit" type="submit" name="submit" value="Recommend"/></p>
			</form>
			
        </div>
        <div class="info">
            <h3>{{info}}</h3>
        </div>
        <table class="table">
			<tr class="table__header">
                <th class="table__cell">Products</th>
			</tr>
            {% for row in data %}
            <tr class="table__row">
                <td class="table__cell">{{row}}</td>
            </tr>
            {% endfor %}            
        </table>
    </body>
</html>